
#contenido {
    background-color: white;
}

#contenido * {
    margin-top: 0;
}

#primera h1 {
    padding-top: 40px;
    font-style: italic;
    font-size: 40px;
}

#contenido section {
    padding-left: 20px;
}

table.animales {
    width: 25%;
    padding-left: 25%;
}

table.animales img {
    width: 120px;
    height: auto;
    border: 2px solid black;
}

#contenido section {
    height: 25%;
    margin: 0;
}

#contenido section.detalle {
    height: 75%;
    margin: 0;
}

#primera {
    background-color: cyan;
}

#segunda {
    background-color: yellow;
}

#tercera {
    background-color: orange;
}

#cuarta {
    background-color: red;
}